<p id="notice"><%= notice %></p>

<h1>Detailers</h1>

<table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detailers.each do |detailer| %>
      <tr>
        <td><%= detailer.fname %></td>
        <td><%= detailer.lname %></td>
        <td><%= link_to 'Show', detailer %></td>
        <td><%= link_to 'Edit', edit_detailer_path(detailer) %></td>
        <td><%= link_to 'Destroy', detailer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detailer', new_detailer_path %>
