<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @detailer.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @detailer.lname %>
</p>

<%= link_to 'Edit', edit_detailer_path(@detailer) %> |
<%= link_to 'Back', detailers_path %>
