<div class="row" id="recentclients">
	<div class="col-md-12 tint">
		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-6">
				<h1>Recent Clients</h1>
			</div>
		</div>
		<div class="row" id="gallery">
			<div class="mySlides">
				<div class="row">
					<div class="col-md-5">
						<div id="insta-images1"></div>
					</div>	
					<div class="col-md-6">
						<div class="row">
	        		<p><%= @reviews.first.content %></p>
	        	</div>
	        	<div class="row">
		        	<h5>-<%= @reviews.first.name %></h5>
	        	</div>
	        	<div class="row">
	        		<a href="/reviews" class="button">...more reviews</a>
	        	</div>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
			<div class="mySlides">
				<div class="row">
					<div class="col-md-5">
						<div id="insta-images2"></div>
					</div>	
					<div class="col-md-6">
						<div class="row">
	        		<p><%= @reviews.second.content %></p>
	        	</div>
	        	<div class="row">
		        	<h5>-<%= @reviews.second.name %></h5>
	        	</div>
	        	<div class="row">
	        		<a href="/reviews" class="button">...more reviews</a>
	        	</div>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
			<div class="mySlides">
				<div class="row">
					<div class="col-md-5">
						<div id="insta-images3"></div>
					</div>	
					<div class="col-md-6">
						<div class="row">
	        		<p><%= @reviews.third.content %></p>
	        	</div>
	        	<div class="row">
		        	<h5>-<%= @reviews.third.name %></h5>
	        	</div>
	        	<div class="row">
	        		<a href="/reviews" class="button">...more reviews</a>
	        	</div>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
			<div class="mySlides">
				<div class="row">
					<div class="col-md-5">
						<div id="insta-images4"></div>
					</div>	
					<div class="col-md-6">
						<div class="row">
	        		<p><%= @reviews.fourth.content %></p>
	        	</div>
	        	<div class="row">
		        	<h5>-<%= @reviews.fourth.name %></h5>
	        	</div>
	        	<div class="row">
	        		<a href="/reviews" class="button">...more reviews</a>
	        	</div>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" id="services">
	<div class="row title">
		<h1>Services</h1>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-5">
			<%= image_tag("https://s3.us-east-2.amazonaws.com/groundworkdetailing/ferrari.png", :alt => "rss feed") %>
		</div>
		<div class="col-md-7">
			<a href="/pricing"><p><%= @textboxes.find(4).content %></p></a>
			<% if user_signed_in? %>
				<a data-toggle="modal" data-target="#editmodal<%= @textboxes.find(4).id %>">
					<%= image_tag "https://s3.us-east-2.amazonaws.com/groundworkdetailing/editpen.png", :class => "editpen" %>
				</a>

				<div class="modal fade" id="editmodal<%= @textboxes.find(4).id%>" role="dialog" aria-hidden="true">
					<div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal">&times;</button>
				    <h4 class="modal-title">Edit Textbox</h4>
				  </div>
					<div id="edit_fields" class="modal-body" >
				 		<%= form_for @textboxes.find(4) do |form| %>		  
				 			<div class="field">
						    <%= form.text_area :content, value: @textboxes.find(4).content %>
						  </div>
						  <div class="actions">
						    <%= form.submit %>
						  </div>
						<% end %>
					</div>
				</div>
			<% end %>

			<br>
			<p><%= render '/layouts/clicktoedit', number: 5 %></p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-5 mobileshow">
			<%= image_tag("https://s3.us-east-2.amazonaws.com/groundworkdetailing/boat.png", :alt => "rss feed") %>
		</div>
		<div class="col-md-7">
			<p><%= render '/layouts/clicktoedit', number: 6 %></p>
		</div>
		<div class="col-md-5 mobilehide">
			<%= image_tag("https://s3.us-east-2.amazonaws.com/groundworkdetailing/boat.png", :alt => "rss feed") %>
		</div>
	</div>	
	<hr>
	<div class="row">
		<div class="col-md-5">
			<%= image_tag("https://s3.us-east-2.amazonaws.com/groundworkdetailing/plane.png", :alt => "rss feed") %>
		</div>
		<div class="col-md-7">
			<p><%= render '/layouts/clicktoedit', number: 7 %></p>
		</div>
	</div>	
	<hr>	
	<div class="row">
		<div class="col-md-5 mobileshow">
			<%= image_tag("https://s3.us-east-2.amazonaws.com/groundworkdetailing/fleet.png", :alt => "rss feed") %>
		</div>
		<div class="col-md-7">
			<p><%= render '/layouts/clicktoedit', number: 8 %></p>
		</div>
		<div class="col-md-5 mobilehide">
			<%= image_tag("https://s3.us-east-2.amazonaws.com/groundworkdetailing/fleet.png", :alt => "rss feed") %>
		</div>
	</div>		
</div>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		var myIndex = 0;
		carousel();

		function carousel() {
		    var i;
		    var x = document.getElementsByClassName("mySlides");
		    if( x )
		    for (i = 0; i < x.length; i++) {
		       x[i].style.display = "none";  
		    }
		    myIndex++;
		    if (myIndex > x.length) {myIndex = 1}    
		    x[myIndex-1].style.display = "inline-block";  
		    setTimeout(carousel, 3500); 
		}

		var feed1 = new Instafeed({
				target: "insta-images1",
        get: 'user',
        userId: '<%= ENV['YOUR_USER_ID'] %>',
        accessToken: '<%= ENV['YOUR_ACCESS_TOKEN'] %>',
        clientId: '<%= ENV['YOUR_CLIENT_ID'] %>',
        sortBy: 'most-recent',
        limit: 4,
        resolution: 'standard_resolution',
        template: '<img src="{{image}}" class="hideimage showimage"/>'
    });
    var feed2 = new Instafeed({
				target: "insta-images2",
        get: 'user',
        userId: '<%= ENV['YOUR_USER_ID'] %>',
        accessToken: '<%= ENV['YOUR_ACCESS_TOKEN'] %>',
        clientId: '<%= ENV['YOUR_CLIENT_ID'] %>',
        sortBy: 'most-recent',
        limit: 4,
        resolution: 'standard_resolution',
        template: '<img src="{{image}}" class="hideimage showimage2"/>'
    });
    var feed3 = new Instafeed({
				target: "insta-images3",
        get: 'user',
        userId: '<%= ENV['YOUR_USER_ID'] %>',
        accessToken: '<%= ENV['YOUR_ACCESS_TOKEN'] %>',
        clientId: '<%= ENV['YOUR_CLIENT_ID'] %>',
        sortBy: 'most-recent',
        limit: 4,
        resolution: 'standard_resolution',
        template: '<img src="{{image}}" class="hideimage showimage3"/>'
    });
    var feed4 = new Instafeed({
				target: "insta-images4",
        get: 'user',
        userId: '<%= ENV['YOUR_USER_ID'] %>',
        accessToken: '<%= ENV['YOUR_ACCESS_TOKEN'] %>',
        clientId: '<%= ENV['YOUR_CLIENT_ID'] %>',
        sortBy: 'most-recent',
        limit: 4,
        resolution: 'standard_resolution',
        template: '<img src="{{image}}" class="hideimage showimage4"/>'
    });
    feed1.run();
    feed2.run();
    feed3.run();
    feed4.run();
	});
</script>
<style>
	#recentclients {
		background: url('https://s3.us-east-2.amazonaws.com/groundworkdetailing/IMG_3336.JPG');
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
</style>
