<div class="row" id="recentclients">
	<div class="col-md-12 tint">
			<h1>Recent Clients</h1>
		<div class="row" id="gallery">
			<div class="mySlides">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<%= image_tag("car2.jpg", :alt => "rss feed") %>
					</div>	
					<div class="col-md-5">
						<div class="row">
	        		<p><%= @reviews.first.content %></p>
	        	</div>
	        	<div class="row">
		        	<h5>-<%= @reviews.first.name %></h5>
	        	</div>
	        	<div class="row">
	        		<a href="/reviews" class="button">...more reviews</a>
	        	</div>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
			<div class="mySlides">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<%= image_tag("car3.jpg", :alt => "rss feed") %>
					</div>	
					<div class="col-md-5">
						<div class="row">
	        		<p><%= @reviews.second.content %></p>
	        	</div>
	        	<div class="row">
		        	<h5>-<%= @reviews.second.name %></h5>
	        	</div>
	        	<div class="row">
	        		<a href="/reviews" class="button">...more reviews</a>
	        	</div>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
			<div class="mySlides">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<%= image_tag("gallery3.jpg", :alt => "rss ides") %>
					</div>	
					<div class="col-md-5">
						<div class="row">
	        		<p><%= @reviews.third.content %></p>
	        	</div>
	        	<div class="row">
		        	<h5>-<%= @reviews.third.name %></h5>
	        	</div>
	        	<div class="row">
	        		<a href="/reviews" class="button">...more reviews</a>
	        	</div>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
			<div class="mySlides">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<%= image_tag("car5.jpg", :alt => "rss feed") %>
					</div>	
					<div class="col-md-5">
						<div class="row">
	        		<p><%= @reviews.fourth.content %></p>
	        	</div>
	        	<div class="row">
		        	<h5>-<%= @reviews.fourth.name %></h5>
	        	</div>
	        	<div class="row">
	        		<a href="/reviews" class="button">...more reviews</a>
	        	</div>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" id="services">
	<div class="row title">
		<h1>Services</h1>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-5">
			<%= image_tag("car.png", :alt => "rss feed") %>
		</div>
		<div class="col-md-7">
			<a href="/pricing"><p><%= @textboxes.find(4).content %></p></a>
			<% if user_signed_in? %>
				<a data-toggle="modal" data-target="#editmodal" data-remote="<%= edit_textbox_path(4) %> #editform" ><%=image_tag "editpen.png", :class => "editpen" %></a>
			<% end %>
			<br>
			<p><%= render '/layouts/clicktoedit', number: 5 %></p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-7">
			<p><%= render '/layouts/clicktoedit', number: 6 %></p>
		</div>
		<div class="col-md-5">
			<%= image_tag("boat.png", :alt => "rss feed") %>
		</div>
	</div>	
	<hr>
	<div class="row">
		<div class="col-md-5">
			<%= image_tag("plane.png", :alt => "rss feed") %>
		</div>
		<div class="col-md-7">
			<p><%= render '/layouts/clicktoedit', number: 7 %></p>
		</div>
	</div>	
	<hr>	
	<div class="row">
		<div class="col-md-7">
			<p><%= render '/layouts/clicktoedit', number: 8 %></p>
		</div>
		<div class="col-md-5">
			<%= image_tag("fleet.png", :alt => "rss feed") %>
		</div>
	</div>		
</div>
