<div class="row" id="homepage">
	<div class="col-md-7">
			<h3>To book an appointment, call us at<br>(860) 268-4920</h3>
			<h4><em>Ask for current specials</em></h4>
		<div class="row">
			<a class="button" href="/pricing"><h3>Check out our detailing packages</h3></a>
		</div>	
		<div class="row services">
			<h4 class="rotate">We Service</h4>
			<br>
			<ul>
				<li><h4>Cars</h4></li>
				<li><h4>Boats (hull cleaning and detailing)</h4></li>
				<li><h4>RV's</h4></li>
				<li><h4>Planes</h4></li>
			</ul>
			<br>
			<h5 class="col-md-12"><em><strong>Fleet detailing packages available</strong></em></h5>
		</div>
		
	</div>
	<div class="col-md-5" id="homeright">
		<div class="row">
			<a href="https://www.facebook.com/groundworkdetailing/" target="_blank"><%= image_tag("bwfb.png", :alt => "rss feed", :class => "medialink") %></a>
			<a href="https://www.instagram.com/groundworkdetailing/" target="_blank"><%= image_tag("bwinsta.png", :alt => "rss feed", :class => "medialink") %></a>
			<a href="https://twitter.com/search?q=%40Gworkdetailing&src=typd" target="_blank"><%= image_tag("bwtwitter.png", :alt => "rss feed", :class => "medialink") %></a>
		</div>
		<div id="gallery">
				<h2 class="galleryheading">Recent Clients</h2>
				<%= image_tag("car2.jpg", :alt => "rss feed", :class => "mySlides") %>
				<%= image_tag("car3.jpg", :alt => "rss feed", :class => "mySlides") %>
				<%= image_tag("gallery3.jpg", :alt => "rss feed", :class => "mySlides") %>
				<%= image_tag("car5.jpg", :alt => "rss feed", :class => "mySlides") %>
		</div>
	</div>
</div>