<div id="social">
	<div class="row links">
		<a href="https://www.facebook.com/groundworkdetailing/" target="_blank"><%= image_tag("https://s3.us-east-2.amazonaws.com/groundworkdetailing/bwfb.png", :alt => "rss feed", :class => "medialink") %></a>
		<a href="https://www.instagram.com/groundworkdetailing/" target="_blank"><%= image_tag("https://s3.us-east-2.amazonaws.com/groundworkdetailing/bwinsta.png", :alt => "rss feed", :class => "medialink") %></a>
		<a href="https://twitter.com/search?q=%40Gworkdetailing&src=typd" target="_blank"><%= image_tag("https://s3.us-east-2.amazonaws.com/groundworkdetailing/bwtwitter.png", :alt => "rss feed", :class => "medialink") %></a>
	</div>
</div>
<div id="about">
	<div class="row">
		<h2><%= render '/layouts/clicktoedit', number: 77 %></h2>
	</div>
	<div class="row">
		<div class="col-md-5">
			<div class="row">
				<%= image_tag "about.jpg", :class => "image" %>
			</div>
		</div>
		<div class="col-md-7">
			<p><%= render '/layouts/clicktoedit', number: 78 %></p>
		</div>
	</div>
</div>
<div id="about2">
	<div class="row">
		<div class="col-md-7">
			<p><%= render '/layouts/clicktoedit', number: 79 %></p>
		</div>
		<div class="col-md-5">
			<div class="row">
				<%= image_tag "https://s3.us-east-2.amazonaws.com/groundworkdetailing/IMG_3078.JPG", :class => "image" %>
			</div>

		</div>
	</div>
</div>
<div id="about3">
	<div class="row">
		<div class="col-md-7">
			<h4><%= render '/layouts/clicktoedit', number: 80 %><%= render '/layouts/clicktoedit', number: 2 %><%= render '/layouts/clicktoedit', number: 81 %></h4>
		</div>
	</div>
</div>