<div id="social">
	<div class="row links">
		<a href="https://www.facebook.com/groundworkdetailing/" target="_blank"><%= image_tag("bwfb.png", :alt => "rss feed", :class => "medialink") %></a>
		<a href="https://www.instagram.com/groundworkdetailing/" target="_blank"><%= image_tag("bwinsta.png", :alt => "rss feed", :class => "medialink") %></a>
		<a href="https://twitter.com/search?q=%40Gworkdetailing&src=typd" target="_blank"><%= image_tag("bwtwitter.png", :alt => "rss feed", :class => "medialink") %></a>
	</div>
</div>
<div id="about">
	<div class="row">
		<h2>Our Mission</h2>
	</div>
	<div class="row">
		<div class="col-md-5">
			<div class="row">
				<%= image_tag "about.jpg" %>
			</div>
		</div>
		<div class="col-md-7">
			<p>Our mission is to give you a unique experience when it comes to maintaining one of your largest investments; your car! There are plenty of professional detailers, but only one can give you the Groundwork Experience! We've set a high standard for ourselves when it comes to customer satisfaction. Whether it's mechanical, cosmetic, or consulting, we're your go-to team! Our passion is your car, you won't have to worry when it's in our hands.</p>
		</div>
	</div>
</div>
<div id="about2">
	<div class="row">
		<div class="col-md-7">
			<p>Founded by Ryan Viera, a father and entreprenuer, who started with a simple headlight restoration service. And has since built it into a full service auto detailing company which only continues to grow.</p>
		</div>
		<div class="col-md-5">
			<div class="row">
				<%= image_tag "IMG_3078.JPG" %>
			</div>

		</div>
		
	</div>
</div>