<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :detailer_id %>
    <%= form.number_field :detailer_id, id: :appointment_detailer_id %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.number_field :customer_id, id: :appointment_customer_id %>
  </div>

  <div class="field">
    <%= form.label :plan_id %>
    <%= form.number_field :plan_id, id: :appointment_plan_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
