<div class="row" id="reviews">
	<div class="col-md-12">
		<div class="row">
			<h4>Reviews</h4>
		</div>
		<div class="row">
			<h5>New Review</h5>
				<div class="col-md-12">
	        <%= form_for :review, url: reviews_path do |form| %>
	          <% if @review && @review.errors.any? %>
	            <div id="error_explanation">
	              <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
	              <ul>
	              <% @review.errors.full_messages.each do |message| %>
	                <li><%= message %></li>
	              <% end %>
	              </ul>
	            </div>
	          <% end %>
	          <div class="row field">
	            <%= form.text_field :name, :placeholder => 'Name' %>
	          </div>
	           <div class="row field">
	            <%= form.text_field :email, :placeholder => 'Email' %>
	          </div>
	          <div class="row field">
	            <%= form.text_area :text, :placeholder => 'Your review content', :id => "editreviewtext"  %>
	          </div>
	          <div class="col-md-2 actions">
	            <%= form.submit %>
	          </div>
	        <% end %>
	      </div>
		</div>
		<div class="row">
	    <% @reviews.each do |review| %>
	   		<div class="eachreview">
	        <p class="row">
		        <%= review.content %>
	        </p>
	        <h5 class="row">
		        -<%= review.name %>
	        </h5>
	        <p class="row">
		        <%= review.timestamp %>
	        </p>
	        <div class="row">
	        	<div class="links">
			        <%= link_to 'Show', review %>
			        <%= link_to 'Edit', edit_review_path(review) %>
			        <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
			      </div>
	        </div>
	      </div>
	    <% end %>
	  </div>
		<div class="row"></div>
	</div>
</div>
