<p id="notice"><%= notice %></p>

<p>
  <strong>Plan name:</strong>
  <%= @plan.plan_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @plan.price %>
</p>

<p>
  <strong>Headlight restoration:</strong>
  <%= @plan.headlight_restoration %>
</p>

<p>
  <strong>Wax:</strong>
  <%= @plan.wax %>
</p>

<p>
  <strong>Tires:</strong>
  <%= @plan.tires %>
</p>

<p>
  <strong>Steam carpets:</strong>
  <%= @plan.steam_carpets %>
</p>

<p>
  <strong>Vacuum:</strong>
  <%= @plan.vacuum %>
</p>

<p>
  <strong>Apt time:</strong>
  <%= @plan.apt_time %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
