<header class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<a href="/", id="h1a"><h1>Groundwork Detailing</h1></a>
					<div class="dropdown">
					  <%= image_tag "https://s3.us-east-2.amazonaws.com/groundworkdetailing/hamburgermenu.png" %>
					  <div class="dropdown-content">
					    <a href="/">Home</a>
					    <a href="/pricing">Pricing</a>
					    <a href="/reviews">Reviews</a>
					    <a href="/about">Our Mission</a>
					  </div>
					</div>
				</div>
			</div>
			<% if @homepage %>
				<div class="row links">
					<a href="https://www.facebook.com/groundworkdetailing/" target="_blank"><%= image_tag("https://s3.us-east-2.amazonaws.com/groundworkdetailing/bwfb.png", :alt => "rss feed", :class => "medialink") %></a>
					<a href="https://www.instagram.com/groundworkdetailing/" target="_blank"><%= image_tag("https://s3.us-east-2.amazonaws.com/groundworkdetailing/bwinsta.png", :alt => "rss feed", :class => "medialink") %></a>
					<a href="https://twitter.com/search?q=%40Gworkdetailing&src=typd" target="_blank"><%= image_tag("https://s3.us-east-2.amazonaws.com/groundworkdetailing/bwtwitter.png", :alt => "rss feed", :class => "medialink") %></a>
				</div>
				<div class="row">
					<h2><strong>
					<%= render '/layouts/clicktoedit', number: 1 %>
						<br><br><%= render '/layouts/clicktoedit', number: 2 %></strong></h2>
				</div>
				<div class="row">
					<a class="button" href="/pricing"><h3><%= @textboxes.find(3).content %></h3></a>
				</div>	
				<div class="row">
					<div class="col-md-12 movepen">
						<% if user_signed_in? %>
							<a data-toggle="modal" data-target="#editmodal<%= @textboxes.find(3).id %>">
								<%= image_tag "https://s3.us-east-2.amazonaws.com/groundworkdetailing/editpen.png", :class => "editpen" %>
							</a>
							<div class="modal fade" id="editmodal<%= @textboxes.find(3).id%>" role="dialog" aria-hidden="true">
								<div class="modal-header">
							    <button type="button" class="close" data-dismiss="modal">&times;</button>
							    <h4 class="modal-title">Edit Textbox</h4>
							  </div>
								<div id="edit_fields" class="modal-body" >
							 		<%= form_for @textboxes.find(3) do |form| %>		  
							 			<div class="field">
									    <%= form.text_area :content, value: @textboxes.find(3).content %>
									  </div>
									  <div class="actions">
									    <%= form.submit %>
									  </div>
									<% end %>
								</div>
							</div>
						<% end %>
					</div>
				</div>
				<div class="row">
						<%= image_tag "https://s3.us-east-2.amazonaws.com/groundworkdetailing/arrow.png", :class => "arrow" %>
				</div>
				<style>
					header {
						position: absolute;
						height: 100%;
						background-color: rgba(0,0,0,.3);
					}
					header h2, header h4, .button {
						margin: 20px auto;
						color: white;
						text-align: center;
					}
					.button h3 {
						margin: 10px;
					}
					.button {
						background-color: rgba(100,100,100,.9);
						padding: 10px;
					}
					.button:hover {
						background-color: rgba(150,150,150,.9);
					}
					header h1, #h1a {
						font-size: 50px;
						height: 80px;
						width: 100%;
						text-align: center;
						margin: 0;
					}
					#h1a {
						display: block;
						margin: 120px auto 100px auto;
					}
					.arrow {
					  -moz-animation: bounce 2s infinite;
					  -webkit-animation: bounce 2s infinite;
					  animation: bounce 2s infinite;
					  height: 50px;
					  margin: 50px auto;
					}
					@keyframes bounce {
					  0%, 20%, 50%, 80%, 100% {
					    transform: translateY(0);
					  }
					  40% {
					    transform: translateY(-30px);
					  }
					  60% {
					    transform: translateY(-15px);
					  }
					}
					body {
						background: url("https://s3.us-east-2.amazonaws.com/groundworkdetailing/headerhome.JPG");
						/*position: relative;*/
					}

				</style>
			<% end %>
		</header>