<!DOCTYPE html>
<html>
	<head>
		<title>Groundwork Detailing</title>
		<%= csrf_meta_tags %>  
		  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap-grid.css">
			<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
			<link href="https://fonts.googleapis.com/css?family=Cinzel|Forum|Playfair+Display+SC" rel="stylesheet">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <%= stylesheet_link_tag    'application', media: 'all'%>
	    <%= javascript_include_tag :modernizr %>
	    <%= javascript_include_tag 'application'%>
	</head>
	<body>
		<div id="messages">
			<p class="notice"><%= notice %></p>
     	<p class="alert"><%= alert %></p>
		</div>

		<%= render '/layouts/header' %>
		
		<div class="container-fluid page">
			<%= yield %>
		</div>
		<%= render '/layouts/editmodal' %>

		<%= render '/layouts/footer' %>

	</body>
</html>