<!DOCTYPE html>
<html>
	<head>
		<title>Groundwork Detailing</title>
		<%= csrf_meta_tags %>
			<link rel="icon"
			      type="img/png"
			      href="/icon.png">  
		  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap-grid.css">
			<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
			<link href="https://fonts.googleapis.com/css?family=Cinzel|Forum|Playfair+Display+SC" rel="stylesheet">
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag :modernizr %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	  
	</head>
	<body>
		<header class="container-fluid">
			<div class="row">
				<a id="h1" href="/">Groundwork Detailing</a>
				<div id="messages">
					<br>
					<br>
					<p class="notice"><%= notice %></p>
     			<p class="alert"><%= alert %></p>
				</div>
			</div>
			<div class="row">
					<nav>
						<ul>
							<li><a class="list" href="/">Home</a></li>
							<li><a class="list" href="/pricing">Pricing</a></li>
							<!-- <li><a class="list" href="/appointments">Calendar</a></li> -->
							<li><a class="list" href="/reviews">Reviews</a></li>
							<li><a class="list" href="/about">Our Mission</a></li>
						</ul>
					</nav>
			</div>
		</header>
		
		<div class="container-fluid">
			<%= yield %>
		</div>


		<footer class="container-fluid">	
			<div class="row">
				<div class="col-md-4">
					<a href="https://www.facebook.com/groundworkdetailing/" target="_blank"/><%= image_tag("bwfb.png", :alt => "rss feed") %></a>
					<a href="https://www.instagram.com/groundworkdetailing/" target="_blank"/><%= image_tag("bwinsta.png", :alt => "rss feed") %></a>
					<a href="https://twitter.com/search?q=%40Gworkdetailing&src=typd" target="_blank" ><%= image_tag("bwtwitter.png", :alt => "rss feed") %></a>
				</div>
				<div class="col-md-4">
					<h5>Manchester, CT</h5>
				</div>
				<div class="col-md-4 mylink">
					<h5>Website developed by</h5>
					<a href="https://www.hspalacios.com" target="_blank" >Hans Palacios</a>
				</div>
			</div>
		</footer>

		<%= javascript_include_tag :application %>
	</body>
</html>